<html>
    <head>
        <title>Gothons Of Planet Percal #25</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
<body>

<p>
I just wanted to say <em style="color: green; font-size: 2em;"><%= usr %>, <%= pass %></em>.
</p>

</body>
</html>